doridian.net {
    root * /srv
    encode gzip
    file_server

    reverse_proxy /api/* 127.0.0.1:8080 {
        @accel header X-Accel-Redirect *
        handle_response @accel {
            root * /srv
            rewrite * {http.response.header.X-Accel-Redirect}
            file_server
        }
    }

    log

    header {
        Strict-Transport-Security "max-age=31536000; preload; includeSubDomains"
    }
}

www.doridian.net, doridian.de, www.doridian.de {
    redir https://doridian.net

    log

    header {
        Strict-Transport-Security "max-age=31536000; preload; includeSubDomains"
    }
}
