doridian.net {
    root * /srv
    encode gzip
    file_server

    log

    header {
        Strict-Transport-Security "max-age=31536000; preload; includeSubDomains"
    }
}

www.doridian.net, doridian.de, www.doridian.de {
    redir https://doridian.net

    log

    header {
        Strict-Transport-Security "max-age=31536000; preload; includeSubDomains"
    }
}
